# --- Archivos comunes innecesarios ---
HELP.md
*.log

# --- Java / Maven ---
target/
build/
*.class
*.jar
*.war
*.ear

# --- Maven Wrapper ---
.mvn/
!/.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# --- Node.js ---
node_modules/
dist/
package-lock.json

# --- Entornos de desarrollo ---
.vscode/
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.factorypath
.settings/
.sts4-cache
.apt_generated

# --- NetBeans ---
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# --- SonarQube ---
.sonar/
.sonarcloud.properties

# --- Cobertura de tests ---
jacoco.exec
coverage/

# --- Otros archivos temporales ---
*.log
*.tmp
.DS_Store
Thumbs.db

# --- Git ---
*.orig
