:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

google-map {
  flex: 1;
}

/* Estilos del panel de información */
.evento-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  max-width: 90%;
}
